body {
  font-family: 'Raleway', sans-serif;
  color: whiteSmoke;
  /*background-color: #1D2F3E;*/
}

header {
  background-color: #1D2F3E;
  padding: 5rem 0 5rem 0;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-bottom: 1rem;
}

#profile-pic {
  overflow: hidden;
  border-radius: 10px;
  -vendor-animation-delay: 2s;

  -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}

h1 {
  color: #0F9FB4;
  line-height: 1;
  margin-bottom: 0;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.82);
}

h5 {
  color: #0FB493;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.82);

}

#head-info {
  overflow: hidden;
  /*padding: .7rem;
  -webkit-box-shadow: 12px 29px 81px 40px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 29px 81px 40px rgba(0,0,0,0.75);
  box-shadow: 12px 29px 81px 40px rgba(0,0,0,0.75);*/
  border-radius: 2px;
  -vendor-animation-delay: 2s;

}

section {
  padding: 5rem 0 5rem 0;
}

.card {
  background-color: whiteSmoke;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #1D2F3E;
  border-radius: 2px;
  margin-bottom: 2rem;
}
  .card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    margin: 0; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card a {
    color: #0FB493;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
  .card .image {
    position: relative; }
    .card .image .title {
      font-weight: bold;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #0F9FB4; }
    .card .image img {
      border-radius: 2px 2px 0 0; }
