/* custom styles */

body {
  background-size: 100%;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

#profile-pic {
  height: 130px;
  width: 150px;
  margin: 10px;
  margin-bottom: 13px;
  border-radius: 2px;
  border: 7px solid #11939A;
}

#my-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #32292F;
}

#my-name {
  font-size: 50px;
}

nav {
  background-color: #11939A;
  width: 100%;
  z-index: 100;
}

.nav-buttons {
  display: inline-block;
  padding: 5px 5em;
  margin: 0 5em;
  background-color: #11939A;
  border-radius: 2px;
}

a {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  color: white;
}

#content {
  position: absolute;
  padding-top: 400px;
  background-color: #F0F7F4;
  border-radius: 2px;
}

.sections {
  margin: 100px;
  max-width: 100%;
  padding: 2em 10em;
  background-color: #32292F;
  border: 7px solid #11939A;
  border-radius: 2px;
}

.section-titles {
  border-style: none;
  border-bottom: solid #11939A;
}

a.section-anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

p {
  font-size: 18px;
}

.work-section {
  margin: 10px;
  margin-top: 30px;
}

.work-section-title {
  color: white;
  background-color: #32292F;
  border: none;
  text-decoration: none;
  font-size: 25px;
}

.work-link {
  display: block;
  margin: 1em;
  margin-top: 3em;
}

.work-pic {
  height: 700px;
  width: 750px;
  border-radius: 2px;
  border: 7px solid #11939A;
}

.contact-icon {
  margin: 50px;
  text-decoration: none;
  list-style: none;
  display: inline;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}


@media (max-width: 900px) {
  img {
    height: 30%;
    width: 30%;
  }

  .nav-buttons {
    margin: 5px 5em;
  }

  div {
    margin: 20px 12px 0 12px;
  }

  h1 {
    font-size: 20px;
    padding: 5px;
  }

  h3 {
    font-size: 17px;
  }

  p {
    font-size: 16px;
    padding: 30px;
  }

  .contact-icon {
    height: 20%;
    width: 20%;
  }
}
