body {
  font-family: 'Raleway', sans-serif;
  color: #0FB493;
  background-color: #1D2F3E;
}

h1 {
  color: #0F9FB4;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 0;
}

.card {
  background-color: whiteSmoke;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #1D2F3E;
  border-radius: 2px;
  margin-bottom: 1rem; 
}
  .card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    margin: 0; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card a {
    color: #0F9FB4;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
  .card .image {
    position: relative; }
    .card .image .title {
      font-weight: bold;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #0F9FB4; }
    .card .image img {
      border-radius: 2px 2px 0 0; }



#profile-pic {
  overflow: hidden;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);

  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  /*border-radius: 50%;*/
}
